@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    font-family: "Orbitron", sans-serif;
}

#output {
    font-size: 32px;
    color: #000814;
    text-align: end;
    grid-column: span 4;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#zero {
    grid-column: span 2;
}


.operator {
    background-color: #ffc300;

}


button {
    background-color: #003566;
    border-radius: 50px;
    border: 1px solid gray;
    color: #ffffff;
    font-size: 32px;
    padding: 0;
    margin: 5px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}