body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
    border: 0.1px solid black;
}

div {
    background-color: gray;
    padding: 0;
    margin: 0;
    gap: 0;
}