body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#setSize {
    width: 100px;
    height: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 10px;
}

.instructions {
    display: flex;
    flex-direction: column;
    width: 220px;
    line-height: 25px;
}

.container {
    display: flex;
}

.box {
    border: 0.001px solid black;
}

div {
    background-color: white;
    padding: 0;
    margin: 0;
    gap: 0;
}